GOOGLE_SERVICE_ACCOUNT_EMAIL=brutag-catalogo@tu-proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPEGA_LA_LLAVE_PRIVADA\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=1ipdNIqrYMFxh68Y8RzozyOfqf5-yg8ZMf1xsffoX2VI
GOOGLE_SHEET_NAME=Hoja 1
GOOGLE_DRIVE_FOLDER_ID=PEGA_EL_ID_DE_LA_CARPETA_DE_FOTOS
